{% extends "base.html.twig" %}

{% block title %}AppBundle:Trip:AddTrip{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <div class="alert-info days"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="application/javascript">
        $(document).ready(function () {
            $('#appbundle_trip_region').on('change', function () {
                $.ajax({
                    url: '{{ path('app_ajax_showtimeintrip') }}',
                    data: $(this).serialize(),
                    method: 'POST',
                    success: function (data) {
                        $('.days').html(data);
                    }
                });
            });
            $.ajax({
                url: '{{ path('app_ajax_checkcourierisavailable') }}',
                method: 'POST',
                success: function (data) {
                    $.each(data, function( index, value ) {
                        $("option[value='"+value+"']").prop('disabled', true);
                    });
                }
            })
        });
    </script>
{% endblock %}