{% extends "base.html.twig" %}

{% block title %}AppBundle:Trip:ShowTrip{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col-1">#</th>
            <th scope="col-1">Region</th>
            <th scope="col-1">Courier</th>
            <th scope="col-1">DaysInTrip</th>
            <th scope="col-1">ReturnDay</th>
        </tr>
        </thead>
        <tbody>
        {% for trip in todayTrips %}
            <tr>
                <th scope="row">{{ trip.id }}</th>
                <th scope="row">{{ trip.region.regionName }}</th>
                <th scope="row">{{ trip.courier.fullName }}</th>
                <th scope="row">{{ trip.region.pathDays }}</th>
                <th scope="row">{{ trip.daysInTrip|date }}</th>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
